[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nkittripathi
[access "refs/for/refs/*"]
	read = group user/nkittripathi
	push = group user/nkittripathi
	label-Code-Review = -2..+2 group user/nkittripathi
	label-Verified = -1..+1 group user/nkittripathi
	rebase = group user/nkittripathi
	removeReviewer = group user/nkittripathi
	submit = group user/nkittripathi
[access "refs/heads/*"]
	read = group user/nkittripathi
	create = group user/nkittripathi
	push = +force group user/nkittripathi
	pushMerge = group user/nkittripathi
[access "refs/tags/*"]
	push = group user/nkittripathi
	push = +force group user/nkittripathi
